.displaybox {
  width: 320px;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  display: inline-block;
}

.displaygraph {
  z-index: 5;
}

.displaySensor {
  width: 1200px;
  z-index: 5;
  border: 2px solid black;
  margin-left: 170px;
  margin-bottom: 50px;
  padding: 50px;
  display: flex;
}
