.level {
  border-bottom: 5px solid blue;
  padding-top: 70px;
  padding-bottom: 30px;
}
.ReactCollapse--collapse {
  transition: height 500ms;
}

.ReactCollapse--content {
  padding-top: 25px;
  border-top: 2px solid black;
}

.level-collapse {
  transition: height 500ms;
}

.level-content {
  border-top: 5px solid blue;
}

.collapsible-text {
  cursor: pointer;
}
